[auth]
redirect_uri = "http://localhost:8501/oauth2callback"
cookie_secret = "<your-cookie-secret>"

[auth.microsoft]
client_id = "<your-client-id>"
client_secret = "<your-client-secret>"
server_metadata_url = "https://login.microsoftonline.com/<your-tenant-id>/v2.0/.well-known/openid-configuration"

[auth.okta]
client_id = "<your-client-id>"
client_secret = "<your-client-secret>"
server_metadata_url = "https://<your-subdomain>.okta.com/.well-known/openid-configuration"